.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.card, .spot { border:1px solid black; width:4em; height:5.58em; }

.card { font-size:1em; }
.card .clubs, .card .spades { color:black; }
.card.diams, .card.hearts { color:red; }

.card .small { position:relative; float:left; text-align:center; width:1em; line-height:1em; }
.card .big {
    position:absolute; bottom:0; right:0;
    text-align:center;
    font-size:2em;
    line-height:1.5em;
    letter-spacing:-3px;
    padding-right:3px;
}
